.font-size_override-small th{
  font-size: 12px;
}

.font-color_green {
  color: #64bd63;
}

.font-color_light-gray {
  color: #bebebe;
  font-size: 10px;
}

.layout_spacer {
  padding: 10px 0;
}

h1.page-title {
  margin: 0;
  background-color: #ffffff;
}

.pane {
  padding: 20px 20px 5px;
  background-color: #ffffff;
}

.nav-tabs {
  background-color: #eeeeee;
}

.nav-tabs > .nav-item {
  margin-bottom: 0;
  background-color: #f5f5f5;
  border: none;
  border-bottom: transparent;
}

.nav-tabs > .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.nav-tabs > .nav-item.active {
  border-bottom: 1px solid #ffffff;
}

.nav-link {
  font-weight: 400;
}

.nav-tabs > .nav-item .nav-link.active, .nav-tabs > .nav-item .nav-link.active:hover, .nav-tabs > .nav-item .nav-link.active:focus {
  box-shadow: none;
}