<div class="pane">
    <h1 class="page-title">Receipt - <span class="fw-semi-bold">Process Results</span></h1>
</div>
<section class="widget">
    <div class="widget-body-container">
        <div class="layout_spacer">
            <h4 *ngIf="errorMessageShow" class="text-left mt-lg">Sorry, we're unable to locate your receipt.</h4>
        </div>
        <div *ngIf="receipts">
            <div class="layout_spacer">
                <h5>Player ID: <strong><span
                        class="text-default">{{ (activeCustomer | async)?.playerID }}</span></strong></h5>
                <h5>Customer: <strong><span class="text-primary">{{ (activeCustomer | async)?.firstName }} {{ (activeCustomer | async)?.lastName }}</span></strong>
                </h5>
                <h5>Points Earned:
                    <strong><span class="font-color_green">{{pointsEarned}}</span></strong>
                </h5>
                <h5>Status: <strong class="text-warning">{{processMessage}}</strong></h5>
            </div>
            <div class="layout_spacer">
                <table class="table table-striped table-bordered font-size_override-small">
                    <thead>
                    <tr>
                        <th>Boarding Pass</th>
                        <th>Game Code</th>
                        <th>Store Name</th>
                        <th>Category</th>
                        <th>Points Used</th>
                        <th>Points Earned</th>
                        <th>Points Per Acct.</th>
                        <th>Sales Per Game</th>
                        <th>Customer Paid</th>
                        <th>Comped</th>
                        <th>Transaction</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let receipt of receipts;">
                        <td>{{receipt.boardingPass}}</td>
                        <td>{{receipt.ratingGameCode}}</td>
                        <td>{{receipt.storeName}}</td>
                        <td>{{receipt.revenueCategory}}</td>
                        <td>{{receipt.boardingPassPointsUsed}}</td>
                        <td>{{receipt.ratingPoints}}</td>
                        <td>{{receipt.ratingPointsPerAccount}}</td>
                        <td>{{receipt.totalPerGameCode}}</td>
                        <td>{{receipt.cashCredit}}</td>
                        <td>{{receipt.compAmount}}</td>
                        <td>{{receipt.ratingTransaction}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="layout_spacer">
                    <h6>Receipt Total: <strong>{{receipts[0].receiptTotal}}</strong></h6>
                    <h6>Receipt Date: <strong>{{receipts[0].closeDate | date:'medium'}}</strong></h6>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="form-actions">
            <button (click)="reset()" type="button" class="btn btn-primary btn-rounded">
                Scan Another
            </button>
        </div>
    </footer>
</section>
